.login-error {
    text-align: center;
    padding: 15px;
    background: #ffdddd;
    border: 1px solid;
    color: #ff3333;
    margin-bottom: 10px;
}

form.login {
    margin-top: 30px;
}

form.login div {
    clear: left;
    margin-bottom: 10px;
}

form.login label {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 200px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 11px;
}

form.login input[type="text"],
form.login input[type="password"] {
    padding: 5px;
    width: 300px;
    line-height: 24px;
    min-height: 24px;
}

form.login button[type="submit"] {
    margin-left: 210px;
}
