form.user {
    margin-top: 30px;
}

form.user label.required:after {
    content: '*';
    color: #ff3333;
}

form.user div {
    clear: left;
    margin-bottom: 10px;
}

form.user label {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 200px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 11px;
}

form.user input[type="text"],
form.user input[type="email"],
form.user input[type="password"] {
    padding: 5px;
    width: 300px;
    line-height: 24px;
    min-height: 24px;
}

form.user .password {
    margin: 40px 0 30px;
}

form.user .checkbox {
    margin-left: 210px;
}

form.user button[type="submit"] {
    margin-left: 210px;
}
