<section class="section">
    <h3>Kategorie</h3>

    <ul class="categories">
        <li><a href="{{ path('piniu_products_list') }}">Wszystkie</a></li>
        {% for category in categories %}
            <li>
                <a href="{{ path('piniu_products_by_category', { 'categoryId': category.id }) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
