{% extends 'PiniuPagesBundle::layout.html.twig' %}

{% block body %}
    <header>
        <h1>O nas</h1>
    </header>
    <div>
        <p>Kilka słów o naszym sklepiku...</p>
    </div>
{% endblock %}
