{% extends 'PiniuPagesBundle::layout.html.twig' %}

{% block body %}
    <article>
        <header>
            <h1>O nas</h1>
        </header>
        <div>
            Kilka słów o naszym sklepiku...
        </div>
    </article>
{% endblock %}
