{% extends 'PiniuPagesBundle::layout.html.twig' %}

{% block body %}
    <article>
        <header>
            <h1>Regulamin</h1>
        </header>
        <div>
            Regulamin zakupów w naszym sklepie...
        </div>
    </article>
{% endblock %}