{% extends 'PiniuPagesBundle::layout.html.twig' %}

{% block body %}
    <header>
        <h1>Regulamin</h1>
    </header>
    <div>
        <p>Regulamin zakupów w naszym sklepie...</p>
    </div>
{% endblock %}